





@import  url("https://fonts.googleapis.com/css?family=Roboto:500&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Regular.woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
