



@import url("fonts.css");



@import url("reset.css");



.info {
  max-width: 1320px;
    min-height: 319px;
    margin: 0 auto;
}



.title-text {
    color: #000;
  font-size: 50px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  line-height: normal;
text-transform: none;
margin-bottom: 60px;
  
}

.photo {
  margin-left: 30px;
}
.rectangle {

  text-align: center;
  display: inline-block;
  padding-right: 20px;
  padding-bottom: 10px;
  
}


.title-two {
  color: #2b2929;
  font-size: 40px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Proxima Nova",sans-serif;
  font-weight: 400;
  line-height: 48px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  margin-bottom: 40px;
}
.photo-two {
text-align: center;
margin-bottom: 40px;
}
.beginn {
  max-width: 1070px;
margin: auto;
}

.room {
  color: #2b2929;
  font-size: 16px;
  font-style: normal;
  
  
  font-family: "Proxima Nova",sans-serif;
  font-weight: 400;
  line-height: 30px;

  letter-spacing: 0;
  text-transform: none;
  
}

.room p { 
margin-bottom: 10px;
}
.shop {
  margin-bottom: 30px;
  color: #2b2929;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Proxima Nova",sans-serif;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-transform: none;
}
.options p {
  padding-bottom: 30px;
  color: #2b2929;
  font-size: 16px;
  font-style: normal;
  font-family: "Proxima Nova",sans-serif;
  font-weight: 400;
  line-height: 30px;

}
.furniture  {
  font-family: 'Proxima Nova';
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
  margin-left: 10px;
    }

.krovato {
  text-align: center;
  margin-bottom: 70px;
  margin-top: 70px;
  max-width: 1290px;
margin: auto;
}





.title-two {
  font-family: "Proxima Nova";
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: rgb(43, 41, 41);
   
}
.group-two {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 900px;
}
.group {
  display: inline-block;
  margin: 0 auto;
  width: 300px;
  text-align: center;
  vertical-align: top;
  padding-right: 30px;
  padding-bottom: 10px;
}
.virobination {
  font-family: "Proxima Nova";
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    color: rgb(43, 41, 41);
}
