



@import url("fonts.css");

@import url("reset.css");



body {
	background: #231f8b;
	
	
	}

	.conteiner {
		max-width: 1050px;
		margin: 0 auto;

	}


.advantages{
	
	padding: 112px 0px;
	
	
	min-height: 138px;
}
.info h1 {

	font-family: "Circular Std", sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: normal;
font-style: normal;
color: #FFF;
margin-bottom: 10px;

}




	

.content {

	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.71;
	color: #5A54F2;
	margin-bottom: 10px;
	letter-spacing: 0.2px;
}
.info-two {
	font-family: "Circular Std", sans-serif;
	font-size: 14px;
	
	line-height: 1.4;
	color: #5A54F2;
	margin-bottom: 70px;
	letter-spacing: 0.2px;
}


.info {

	margin-bottom: 10px;
}


.card h2 {
	
font-family: "Circular Std";
font-size: 16px;

font-weight: 700;
line-height: 1.5;
letter-spacing: 0.1px;
}

.text {
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	
	line-height: 1.4;
	color: #737373;
	letter-spacing: 0.2px;

	
}

.cards {
	margin: 0 auto;
	
	font-size: 0;
	max-width: 1050px;
	
	
}
	



.card {
	display: inline-block;
    padding: 35px 40px;
    background-color: #FFF;
    vertical-align: top;
    
    min-height: 288px;
    
    margin-left: 30px;
	
	
    max-width: 230px;
   
	
}



.logo {
	margin-bottom: 20px;
}
.title {
	
	margin-bottom: 20px;
}

.thumb {
	width: 50px;
	height: 2px;
	background: #E74040;
	margin-bottom: 20px;
}


.card-top {
	
	margin-top: 48px;
}

	
.card-dark  {
	background-color:#5A54F2;
}

	
.card-dark h2 {
	color: #FFF;
}



.line {
	width: 50px;
	height: 2px;
	background-color: #FFF;
	margin-bottom: 20px;
}

.text-white {
	
font-family: "Montserrat", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 1.4;
color: #737373;
letter-spacing: 0.2px;
color: #FFF;


}

